@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215.4 16.3% 10%;
    --card: 0 0% 100%;
    --card-foreground: 215.4 16.3% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 215.4 16.3% 10%;
    --primary: 42 74% 55%;
    --primary-foreground: 222 47% 11%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 42 74% 55%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 42 74% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 216 12% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 216 12% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 42 74% 55%;
    --primary-foreground: 222 47% 11%;
    --secondary: 216 12% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 12% 12%;
    --muted-foreground: 215 20% 65%;
    --accent: 42 74% 55%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 12% 15%;
    --input: 216 12% 15%;
    --ring: 42 74% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.confetti {
	width: 15px;
	height: 15px;
	background-color: hsl(var(--accent));
	position: absolute;
	left: 50%;
	animation: confetti 5s ease-in-out -2s infinite;
	transform-origin: left top;
}
.confetti:nth-child(2n) {
	background-color: #ffffff;
}
.confetti:nth-child(1) {
	left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
	left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
	left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
	left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
	left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
	left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
	left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
	left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
	left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
	left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
	0% { transform: rotateZ(15deg) rotateY(80deg) translate(0, 0); }
	25% { transform: rotateZ(5deg) rotateY(70deg) translate(100px, 180px); }
	50% { transform: rotateZ(15deg) rotateY(80deg) translate(50px, 300px); }
	75% { transform: rotateZ(5deg) rotateY(70deg) translate(-100px, 400px); }
	100% { transform: rotateZ(15deg) rotateY(80deg) translate(0, 500px); }
}
